{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Dynamic Row Settings plugin for Craft CMS 3.x
 *
 * Dynamic Row Settings Settings.twig
 *
 * @author    Kyle Andrews
 * @copyright Copyright (c) 2018 Kyle Andrews
 * @link      http://www.gamesbykyle.com
 * @package   DynamicRowSettings
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("pageworks\\dynamicrowsettings\\assetbundles\\dynamicrowsettings\\DynamicRowSettingsAsset") %}

{{ forms.editableTableField({
        label: 'Dynamic Content Area Settings',
        instructions: 'Please enter your DCA(s) field handle along with the (row settings) block handle that you want to force the user to use.',
        id: 'dcaHandles',
        name: 'dcaHandles',
        cols: {
            dcaHandle: {
                heading: "Dynamic Content Area Handle",
                type: "singleline",
            },
            dcaName: {
                heading: "Human-Readable Block Name",
                type: "singleline",
            },
            dcaBlock: {
                heading: "Block Handle",
                type: "singleline",
            },
            dcaForce: {
                heading: "Force First Block Position",
                type: "lightswitch",
            }
        },
        rows: settings['dcaHandles']
    })
}}
